#content {
    width: 1000px;
    position: center;
    padding: 20px;
    border: 1px solid rgb(148, 144, 138);
    margin: auto;
    margin-top: 17px;
    box-shadow: 0px 0px 8px rgb(156, 151, 151);
}